body {
  background: #DAFFFF;
  margin: auto;
  font-family: helvetica;
}

header {
  width: 30%;
  padding: 70px;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  max-width: 400px;
  max-height: 175px;
  background-color: #FFFFDE;
  text-align: center;
  line-height: 25px;
}  

p {
  font-size: 15px;
  vertical-align: middle;
}

h1 {
font-size: 35px;
line-height: 40px;
}

h2 {
  font-size: 15px;
  font-style: italic;
}

hr {
  height: 4px;
  width: 90%;
  padding: auto;
  background-color: brown;
  border-color: brown;
}

article {
  background-color: #FFFFDE;
  border-color: black;
  border-width: 10px;
  padding: 10px;
  margin-left: 37.7%;
  height: 390px;
  width: 400px;
}

img {
  max-width: 400px;
  max-height: 300px;
  margin: center;
  padding: auto;

}

.items {
  text-align: center;
  font-size: 35px;
  margin: center;
  padding: auto;
}

a {
  padding-top: 50px;
  margin-left: 125px;
  color: black;
}

a:visited {
  color: black;
}

a:hover{
  color: red;
}

a:active{
  color: red;
}