body {
    background: #DAFFFF;
    margin: auto;
    font-family: helvetica;
  }
  
header {
    padding: 20%;
    margin: auto;
    max-width: 600px;
    max-height: 100px;
    background-color: #FFFFDE;
}  

p {
    font-size: 30px;
}

h2 {
  font-size: ;
}
